@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 5rem; /* matches navbar height (top-14 + padding) */
}


@theme {
  --color-dark: var(--color-neutral-950);
  --color-light: var(--color-neutral-50);
}